<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ConsoleApp.My.MySettings>
            <setting name="MailServer" serializeAs="String">
                <value>172.168.0.22</value>
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value>donotreply@shaw.com.sg</value>
            </setting>
            <setting name="FromName" serializeAs="String">
                <value>DoNotReply</value>
            </setting>
            <setting name="RetryCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>Logs\</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value />
            </setting>
            <setting name="Body" serializeAs="String">
                <value />
            </setting>
            <setting name="MailPriority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeliveryNotificationOptions" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToAddress" serializeAs="String">
                <value>myat.min@shaw.com.sg;thet.lwin@shaw.com.sg;sitt.shein@shaw.com.sg</value>
            </setting>
            <setting name="ToName" serializeAs="String">
                <value />
            </setting>
            <setting name="CcAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="BccAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateFilePath" serializeAs="String">
                <value>D:\WFH\email_template.html</value>
            </setting>
            <setting name="ShawStaffFilePath" serializeAs="String">
                <value>D:\WFH\shaw_staff.xlsx</value>
            </setting>
            <setting name="TemparatureFilePath" serializeAs="String">
                <value>D:\WFH\temparature.xlsx</value>
            </setting>
            <setting name="ErrorFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailDomain" serializeAs="String">
                <value>biz.shaw</value>
            </setting>
            <setting name="MailServerPort" serializeAs="String">
                <value>143</value>
            </setting>
        </ConsoleApp.My.MySettings>
    </userSettings>
</configuration>